/* Estilos para la versión de escritorio */
@media (min-width: 768px) {
  .chat-container {
    height: 800px;
    display: flex;
    flex-direction: column;
    width: 100%;
}}

/* Estilos para la versión móvil */
.mobile-container {
  height: 800px;
  font-size: 20px;
}


.chat-container-card {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  width: 100%;
  overflow-y: auto; /* Hacer el contenedor scrollable */
}

.chat {
  margin-top: 20px;
  background-color: #f9e9fc;
}

.chat-img{
  width: 20%;
  border-radius: 50%; ;
}
