.profile-container {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-container .profile-image {
  padding-top: 30px;
}
.profile-container h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.profile-container .separator {
  border: none;
  border-top: 1px solid black;
  margin: 20px 0;
  width: 80%;
}
