.main-container {
  width: 65vw;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .main-container {
    width: 90vw;
  }
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
