:root {
  --web-bg-color: #f7fbfe;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--web-bg-color) !important;
}

.main-container {
  width: 65vw;
  margin: 0 auto;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main-container {
    width: 100vw;
  }
}
.button-class,
.anchor-class { /* Reemplaza anchor-class con la clase de tu enlace */
  cursor: pointer;
}
